<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{title}}</title>
</head>
<body>
     <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure reiciendis magnam voluptatem quo magni voluptas rerum sunt dolorem laborum. Dolor aperiam nulla praesentium. Cum beatae quis nobis. Perspiciatis, commodi quam.</p>
        <img src="/img/gall.png" alt="gall" class="portrait">
    </div>
    {{>footer}}
</body>
</html>